<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->
@model CognitiveSearch.UI.Models.SearchViewModel

@using CognitiveSearch.UI.Configuration
@inject AppConfig AppConfig
@inject UIConfig UIConfig

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Pass controller data to view -->
<script>
    Microsoft["View"] = JSON.parse('@Html.Raw(Json.Serialize(Model))');
</script>

<div id="results-container" class="container">
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            Microsoft.Config.init().then(() => {

                Microsoft.Search.initSearchVertical(Microsoft.View.config);

                $("#navbar-row-1").attr("style", "display: none !important");

                Microsoft.Search.Results.Chat.render_chat_view()
            });
        });
    </script>
}