<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Microsoft 365-->
<div id="results-container" class="container border rounded">
    <span><img title="Microsoft 365" style="width:64px" src="/images/logos/M365.png"> Learn how to integrate Microsoft 365 results using </span>
    <a target="_blank" href="https://www.microsoft.com/microsoft-search">Microsoft Search</a>
</div>
