<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->
@model CognitiveSearch.UI.Models.SearchViewModel

@using CognitiveSearch.UI.Configuration
@inject AppConfig AppConfig
@inject UIConfig UIConfig

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Pass controller data to view -->
<script>
    Microsoft["View"] = JSON.parse('@Html.Raw(Json.Serialize(Model))');
</script>

<partial name="_PreviewModal" />

<!--Navigation Offcanvas-->
<partial name="_NavigationPartial" />

<!--Microsoft Bing-->
<div class="container border rounded">
    <span>Web Results from <img style="width:75px" src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4Hx4U?ver=adf0&q=90&m=6&h=120&w=120&b=%23FFFFFFFF&l=f&o=t&aim=true"></span>
    <a target="_blank" href="https://go.microsoft.com/fwlink/?LinkId=521839"> Microsoft Privacy Statement </a>
</div>

<!--Search Filter -->
<partial name="_SearchFilterPartial" />

<div id="results-container" class="container">
    @if (AppConfig.WebSearchConfig.IsEnabled) {
        <div class="row">
            <!-- Facets -->
            <div id="web-results-content-col1" class="col-md-2">
                <div>
                    <div class="widget-content">
                        <div id="related-search-nav" class="facet-nav"></div>
                        <div id="entities-nav" class="facet-nav"></div>
                    </div>
                </div>
            </div>
            <!-- Web Search Results-->
            <div id="web-results-content" class="col-md-10 reset-view"></div>
        </div>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            Microsoft.Search.initSearchVertical(Microsoft.View.config);

            //Facets
            Microsoft.Facets.RenderWebFacets();
            Microsoft.Facets.UpdateFilterReset();

            Microsoft.Search.initSearch();

        });
    </script>
}