<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->
@model CognitiveSearch.UI.Models.SearchViewModel

@using CognitiveSearch.UI.Configuration
@inject AppConfig AppConfig
@inject UIConfig UIConfig

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Pass controller data to view -->
<script>
    Microsoft["View"] = JSON.parse('@Html.Raw(Json.Serialize(Model))');
</script>

<!--Navigation Modal-->
<partial name="_NewsNavigationPartial" />

<!--Search Filter -->
<partial name="_SearchFilterPartial" />

<div id="results-container" class="container">
    <div class="row">
        <div class="col-md-3 ms-0 ps-0">
            <nav id="navbar-feeds" class="navbar navbar-light bg-light rounded flex-column"></nav>
        </div>
        <div id="news-results-content" class="row col-md-9 reset-view"></div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            Microsoft.Config.init().then(() => {

                Microsoft.Search.initSearchVertical(Microsoft.View.config);

                $("#navbar-row-1").attr("style", "display: none !important");

                Microsoft.News.init().then(() => {
                    Microsoft.News.UpdateNewsFacets(Microsoft.News.news_facets);
                    Microsoft.News.LiveNewsSearch();
                });
            });
        });
    </script>
}