<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="navigation-offcanvas" aria-labelledby="navigation-offcanvas-label">

    <div class="offcanvas-header bg-light">
        <h5 class="offcanvas-title" id="navigation-offcanvas-label">News Navigation</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        <div class="widget-content">
            <div id="news-facet-nav" class="facet-nav"></div>
        </div>
    </div>

    <div class="offcanvas-footer">
        <button id="navigation-clear-all" class="container btn btn-warning" style="border-radius: 0 !important;"  onclick="Microsoft.News.ClearAllNewsFilters();">Clear all News filters</button>
    </div>

</div>
