<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

@using CognitiveSearch.UI.Configuration
@inject OrganizationConfig OrgConfig

@*<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="copyright navbar-text-color">&copy; @DateTime.Now.Year - @OrgConfig.Name</span>
  </div>
</footer>*@