<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

@model CognitiveSearch.UI.Configuration.AppConfig

@{
    ViewData["Title"] = "Knowledge Mining - Search Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Pass controller data to view -->
<script>
    var Microsoft = Microsoft || {};
</script>

<main role="main">

    <div class="card mb-2 mt-2 mr-5 ml-5">
        <h4 class="card-header"><span class="bi bi-cloud-upload me-2"></span>Search Statistics</h4>
        <div class="card-body">
        </div>
    </div>

</main>

<script>

    $(document).ready(function () {

        Microsoft.Search.disableSearchBox();

    });
</script>

